<a href="https://colab.research.google.com/github/Thejesh224/Movies_meta_datas/blob/main/Data__cleaning_on_movies_meta_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import the pandas
import pandas as pd

In [ ]:
data = pd.read_csv("/content/movies_metadatas.csv")
data.head()

In [ ]:
#check the number of rows and columns
data.shape

(45466, 24)

In [ ]:
data['adult']

In [ ]:
data['adult'].unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [ ]:
data['adult'].isin(['True','False'])

In [ ]:
data.loc[~data['adult'].isin(['True','False'])]

In [ ]:
data['adult'].value_counts()

In [ ]:
data = data.loc[data['adult'].isin(['True','False']),:]

In [ ]:
#check the unique values in the adult column
data['adult'].unique()

array(['False', 'True'], dtype=object)

In [ ]:
#replace the string 'True' : True   'False':False
#to replace the data in df we use "map()"
data['adult'] = data['adult'].map({'True':True,'False':False})

In [ ]:
#check  it is converted or not
int(False)
int(True)

1

In [ ]:
#check for the adult values in the adult column
data['adult'].isnull().sum()

np.int64(0)

In [ ]:
data['adult'].dtype

dtype('bool')

In [ ]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

****

**'belongs_to_collection'**

In [ ]:
#check 1st row value of belong to collection column
data['belongs_to_collection'].values[0:5]

array(["{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",
       nan,
       "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",
       nan,
       "{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}"],
      dtype=object)

In [ ]:
a = {'id': 10194, 'name': 'Toy Story Collection',
     'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
     'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

print(a['name'])

Toy Story Collection

In [ ]:
#to convert string of collection in to particular collection we use the AST module
import ast
ast.literal_eval("[1,2,3,4,5]")

[1, 2, 3, 4, 5]

In [ ]:
ast.literal_eval(data['belongs_to_collection'].values[0])['name']

'Toy Story Collection'

In [ ]:
import numpy as np

In [ ]:
a = np.nan
print(a==a)

False

In [ ]:
2==2

True

In [ ]:
np.nan != np.nan

True

In [ ]:
{'a':2} != {'a':2}

False

In [ ]:
"medha" == "medha"
a = np.nan
a==a
#if the variabvle == variable return false, then it means the variable is null values

False

In [ ]:
{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'} == {'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}

False

In [ ]:
import ast
import numpy as np
medha = []
for i in data['belongs_to_collection'].values: #iterating through the columns
    if i == i:  #check if it is nan
       medha.append(ast.literal_eval(i)['name'])
    else:
      medha.append("No collection")

# print(medha)
data['collection_Name'] = medha
data.head()

In [ ]:
data = data.drop(columns=['belongs_to_collection'])
data

In [ ]:
data.columns

In [ ]:
data['budget'].values[0]

'30000000'

In [ ]:
#convert the data type
data['budget'] = data['budget'].astype("int64")
data['budget'].values[0]

np.int64(30000000)

In [ ]:
data['budget'].isnull().sum()

np.int64(0)

In [ ]:
data['budget'].unique()

array([30000000, 65000000,        0, ...,  3417000, 25868826,  1254040])

In [ ]:
data['budget'].value_counts()

In [ ]:
#find the percentage of "0" in column budget
sum(data['budget']==0)*100/data.shape[0]

80.44563711149726

In [ ]:
data.shape

(45463, 24)

Dont use budget

try to loo for some other data sets where these details are available

do the analysis with remaining data

**Genres**

In [ ]:
data['genres'].values[1:5]

array(["[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",
       "[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",
       "[{'id': 35, 'name': 'Comedy'}]"], dtype=object)

In [ ]:
data['genres'].unique()

array(["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",
       ...,
       "[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]",
       "[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"],
      dtype=object)

In [ ]:
#new_idea:- create a column for each genre-say 1if the movie has the genre else put 0
#we are going to find all the unique genres
uniqueGenres = set()
for i in data['genres']:
  genlist = ast.literal_eval(i)
  for j in genlist:
    uniqueGenres.add(j['name'])

In [ ]:
print(uniqueGenres)
len(uniqueGenres)

{'Action', 'War', 'Documentary', 'Music', 'Western', 'TV Movie', 'Drama', 'Adventure', 'Romance', 'Thriller', 'Horror', 'Science Fiction', 'Foreign', 'Comedy', 'Crime', 'History', 'Family', 'Mystery', 'Animation', 'Fantasy'}

20

In [ ]:
rows = []  #for all the movies
genres = list(uniqueGenres)
for i in data['genres']: #looping through all rows in the movies column
    genlist = ast.literal_eval(i) #convert string to list of dictionary
    movieGenres = [x['name'] for x in genlist]
    row  = [] #is stores a list 1's and 0's for one movie
    for j in genres:
      row.append(int(j in movieGenres))
    rows.append(row)

In [ ]:
mg = ['action','adventure']
unique = ['action','adventure','family','horror']
row = []
for j in unique:
  row.append(int(j in mg))
row

[1, 1, 0, 0]

In [ ]:
#convert the encodings in the rows in to dataframe
genre = pd.DataFrame(rows,columns=genres)
genre

In [ ]:
#concat the genre with data
data = pd.concat([data,genre],axis=1)
data.head()

In [ ]:
#drop the genres columns
data = data.drop(columns=['genres'])
data.head()